section.homestead {
	font-family: 'homestead_displaydisplay', arial;
	background-color: #343138;
	color:#5EA0BA;
	width:50%;
	padding-left: 8px;
	height:100vh
}
section.weblinks{
	font-family: 'frente_h1regular', arial;
	position: absolute;
	right:0;
	top:0;
}
section{
	font-size: 4em;
}
section.xyz{
	background-image: url(../img/dropwallet.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}
.xyz p {
    color: #fefefe;
    text-align: center;
    padding-top: 40vh;
    margin: 0;
    font-family: 'frente_h1regular', arial;
}
.dots {
  background-image: url(../img/grid.png);
  background-repeat: repeat;
  height: 100vh;
}
body{
	background-color: #eeeeee;
	margin: 0;
}
body, a{
	color:#333;
}
a{
	text-shadow: 0 1px 0 #fff;
}
.soc {
    text-align: right;
    padding-right: 20px;
}
a i.icon{
	text-decoration: none;
	display: inline-block;
	font-size: .8em;
}
::selection {
  background: #ffb7b7;
}
::-moz-selection{
	background: #ffb7b7;
}
.mobile{
	display:none;
}
/*small screen*/
@media (max-device-width: 768px){
	section.weblinks{
		position: initial;
		padding:40px;
	}
	section.homestead{
		height: inherit;
		width: 98%;
		padding-left:2%;
	}
	section{
	font-size: 8em;
	}
	.mobile{
		display: inherit;
	}
	.dtop{
		display:none;
	}
}